#body{
    background-color: #d7f8ff;
    margin: 0;
    padding: 0;
}

.navbar .link{
    text-decoration: none;
    color: rgb(0, 32, 57);
    font-size: 20px;
    margin-right: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.navbar .link:hover{

    color: rgb(209, 247, 255);
    text-shadow: 1px 2px 2px #000000;
}

@media (max-width: 768px) {
  .navbar { flex-direction: column; }
}   

.navbar{
    
    display : flex;
    background: linear-gradient(to right, #5fffea, #40bcff);
    padding: 5px;
    align-items: center;
    gap: 1rem;

}

.offcanvas{
    background: linear-gradient(to right, #5fffea, #40bcff);
    padding: 10px;
    text-align: center;
}
.navbar-brand{
    font-family:cursive;
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 91, 202);
    margin-right: auto;  
    text-shadow: 1px 2px 2px #000000;
    padding-left: 15px;
}

h1{
    text-align: center;
}
 
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.scribble-links{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.friends-links{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

iframe {
    filter: blur(2px) brightness(0.7);

    width: 100%;
    height: 400px;
    border: none;
    border-radius: 12px;
}
.friends div {
    background-color: rgba(86, 171, 255, 0.1);
    border: 2px solid rgba(118, 118, 118, 0.5);
    border-radius: 12px;
    margin: 15px;


    justify-content: space-around;
    padding: 15px;
    text-align: center;


}
.friends div p {
    color: #005864;
    font-size: 25px;
    padding: 5px 0;
    display: flex;
    justify-content: space-around;
}
.card-title{
    text-align: center;
}
.card{
    border-radius: 5px;
    margin: 10px;

    
}

.card-body{
    background-color: #c2f7ff;
}
.btn.btn-primary{
 background-color: #008be2;
}